<% provide(:title, @course.name) %>
<div class="row">
  <h1><%= t "courseProfile" %></h1>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0
  col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @course.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-12 col-lg-12 ">
            <table class="table">
              <tr>
                <td><b><%= t "name" %>: </b></td>
                <td><%= @course.name %></td>
              </tr>
              <tr>
                <td><b><%= t "numberSubject" %>: </b></td>
                <td><%= @course.subjects.count %></td>
              </tr>
              <tr>
                <td><b><%= t "numberTrainee" %>: </b></td>
                <td><%= @course.users.trainees.count %></td>
              </tr>
              <tr>
                <td><b><%= t "numberSupervisor" %>: </b></td>
                <td><%= @course.users.supervisors.count %></td>
              </tr>
              <tr>
                <td><b><%= t "createdAt" %>: </b></td>
                <td><%= l @course.created_at, format: :define %></td>
              </tr>
              <tr>
                <td><b><%= t "lastestUpdateAt" %>: </b></td>
                <td><%= l @course.updated_at, format: :define %></td>
              </tr>
              <tr>
                <td colspan="2">
                  <%= link_to "Edit Course",
                    edit_supervisor_course_path(@course.id),
                    {class: "btn btn-default"} %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0
  col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t "listDetail" %></h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td><b><%= t "subjects" %></b></td>
            <td>
              <%= render "subjects_of_course" %>
            </td>
          </tr>
          <tr>
            <td><b><%= t "supervisor" %></b></td>
            <td>
              <%= render "supervisors_of_course" %>
            </td>
          </tr>
          <tr>
            <td><b><%= t "trainees" %></b></td>
            <td>
              <%= render "trainees_of_course" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
