<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0
  col-sm-offset-0 col-md-offset-2 col-lg-offset-2">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t("userEditProfile") %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center">
            <%= gravatar_for @user %>
          </div>
          <div class=" col-md-9 col-lg-9 ">
            <%= form_for @user do |f| %>
              <%= render "layouts/messages", object: f.object %>
              <table class="table">
                  <tr>
                    <td><%= f.label :name %>:</td>
                    <td>
                      <%= f.text_field :name, class: "form-control" %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= f.label :email %>:</td>
                    <td>
                      <%= f.email_field :email, class: "form-control" %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= f.label :password %>:</td>
                    <td>
                      <%= f.password_field :password, class: "form-control" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :password_confirmation, "Confirmation" %>:
                    </td>
                    <td>

                      <%= f.password_field :password_confirmation,
                        class: "form-control" %>
                    </td>
                  </tr>
                  <tr>
                    <td><%= t "userSupervisorTag" %>:</td>
                    <td><b><%= @user.supervisor %></b ></td>
                  </tr>
                  <tr>
                    <td><%= t "userUpdateAtTag" %>:</td>
                    <td><%= @user.updated_at.strftime("%A %d-%m-%Y") %></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <%= f.submit t("saveUpdate"), class: "btn btn-primary" %>
                    </td>
                  </tr>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
