<% provide :title, t("titleAllSubject") %>

<h1><%= t "titleAllSubject" %></h1>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= t "id" %></th>
      <th><%= t "subjectName" %></th>
      <th><%= t "subjectCratedAt" %></th>
      <th><%= t "editSubject" %></th>
      <th><%= t "deleteSubjet"%></th>
      <th><%= t "subjectDetail" %></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.name %></td>
        <td><%= l subject.created_at, format: :define %></td>
        <td><%= link_to t("editSubject"), edit_supervisor_subject_path(subject) %></td>
        <td>
          <%= link_to t("deleteSubjet"), supervisor_subject_path(subject), method: :delete,
            data: {confirm: t("popupConfirm")}, title: "Delete #{subject.name}",
            class: "text-danger" %>
        </td>
        <td>
          <%= link_to t("subjectDetail"), supervisor_subject_path(subject), class: "text-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center"><%= will_paginate @subjects %></div>
